<a href="https://colab.research.google.com/github/Prathit-tech/Commodity_Prices_Predictor/blob/main/commodity_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
dataset = pd.read_csv('Monthly_Food_Retail_Prices.csv')
dataset.head()

,State,Centre,Commodity,Variety,Unit,Category,Date,Retail Price
0,Andhra Pradesh,Chittoor,Moong,Split,Kg.,Food,JAN-2001,24.0
1,Andhra Pradesh,Guntur,Moong,Split,Kg.,Food,JAN-2001,26.0
2,Andhra Pradesh,Kurnool,Moong,Split,Kg.,Food,JAN-2001,25.5
3,Andhra Pradesh,Vishakhapatnam,Moong,Split,Kg.,Food,JAN-2001,NaN
4,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,JAN-2001,NaN

In [5]:
dataset.drop(columns = ['Variety','Category'],axis = 1)

,State,Centre,Commodity,Unit,Date,Retail Price
0,Andhra Pradesh,Chittoor,Moong,Kg.,JAN-2001,24.0
1,Andhra Pradesh,Guntur,Moong,Kg.,JAN-2001,26.0
2,Andhra Pradesh,Kurnool,Moong,Kg.,JAN-2001,25.5
3,Andhra Pradesh,Vishakhapatnam,Moong,Kg.,JAN-2001,NaN
4,Arunachal Pradesh,Itanagar,Moong,Kg.,JAN-2001,NaN
...,...,...,...,...,...,...
56322,Assam,Guwahati,Tea,Kg.,SEP-2004,NaN
56323,Assam,Silchar,Tea,250gm. Pkt,SEP-2004,NaN
56324,Assam,Silchar,Tea,Kg.,SEP-2004,NaN
56325,Bihar,Gaya,Tea,250gm. Pkt,SEP-2004,NaN
56326,Bihar,Gaya,Tea,Kg.,SEP-2004,NaN

In [6]:
dataset = dataset.dropna()

In [7]:
from datetime import datetime
reference_date = datetime(2000, 1, 1)
dataset['Date'] = dataset['Date'].apply(lambda x: (datetime.strptime(x, '%b-%Y') - reference_date).days)

In [8]:

y = dataset.iloc[:, -1].values

In [9]:
print(y)

[24.  26.  25.5 ...  3.  45.  45. ]

In [10]:
encoded_df = pd.get_dummies(dataset[['State','Centre','Commodity','Unit']])

In [11]:
print(encoded_df.head())
df_encoded = pd.concat([dataset['Date'], encoded_df], axis=1)

    State_Andhra Pradesh  State_Arunachal Pradesh  State_Assam  State_Bihar  \
0                      1                        0            0            0
1                      1                        0            0            0
2                      1                        0            0            0
10                     0                        0            0            1
12                     0                        0            0            1

    State_Goa  State_Gujarat  State_Haryana  State_Himachal Pradesh  \
0           0              0              0                       0
1           0              0              0                       0
2           0              0              0                       0
10          0              0              0                       0
12          0              0              0                       0

    State_Jammu Kashmir  State_Jharkhand  ...  Commodity_Onion  \
0                     0                0  ...                0
1                     0                0  ...                0
2                     0                0  ...                0
10                    0                0  ...                0
12                    0                0  ...                0

    Commodity_Potato  Commodity_Ragi  Commodity_Red Chillies  Commodity_Rice  \
0                  0               0                       0               0
1                  0               0                       0               0
2                  0               0                       0               0
10                 0               0                       0               0
12                 0               0                       0               0

    Commodity_Salt  Commodity_Tea  Unit_100gm. Pkt  Unit_250gm. Pkt  Unit_Kg.
0                0              0                0                0         1
1                0              0                0                0         1
2                0              0                0                0         1
10               0              0                0                0         1
12               0              0                0                0         1

[5 rows x 114 columns]

In [12]:
X = df_encoded.iloc[:, :-1].values

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Build and train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)


print('Mean Squared Error:', mse)
print('R-squared:', r2)

Mean Squared Error: 8709.247149079263
R-squared: 0.6142316842527749

In [ ]:
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(374297, 162) (93575, 162)
(374297,) (93575,)

In [ ]:

# import the regressor
from sklearn.tree import DecisionTreeRegressor

# create a regressor object
regressor = DecisionTreeRegressor(random_state = 0)

# fit the regressor with X and Y data
regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Compute regression evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the metrics
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R2):", r2)

Mean Absolute Error (MAE): 6.178582954849052
Mean Squared Error (MSE): 1418.746501911123
Root Mean Squared Error (RMSE): 37.666251498007114
R-squared (R2): 0.9371578921638041

In [16]:

# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
# create regressor object
regressor = RandomForestRegressor(n_estimators=100,
                                  random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# fit the regressor with x and y data
y_pred = regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Compute regression evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the metrics
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R2):", r2)

Mean Absolute Error (MAE): 1.6723033303676194
Mean Squared Error (MSE): 13.416058882748155
Root Mean Squared Error (RMSE): 3.662793862988764
R-squared (R2): 0.922227660281216